@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/elysiantrial-regular.otf') format('opentype');
}

:root {
  font-family: "CustomFont", "Poppins", sans-serif;
  color-scheme: dark;
  scroll-padding-top: 80px;
}
